.inputField {
  font-size: 0.75rem;
  font-family: var(--r-primary);
  padding: 0.75rem;
  border-radius: 0%;
  border: 2px solid var(--clr-primary);
  width: 100%;
  max-width: 380px;
  resize: none;
}

.inputField.error {
  border-color: var(--clr-danger);
}

.inputField::placeholder {
  text-transform: capitalize;
}

.inputField:focus {
  border: 2px solid var(--clr-secondary);
  border-radius: 0%;
  outline: none;
}

@media (min-width: 900px) {
  .inputField {
    font-size: 1.125rem;
    padding: 1.125rem;
  }
}
