.productCartLink {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: space-between;
  width: 100%;
  color: #000;
  padding: 1rem;
  overflow: hidden;
  background-color: var(--clr-neutral);
}

.productCartLink:hover {
  background-color: var(--clr-tertiary);
}
